body {
    direction: rtl;
    background-image: url('../images/background-2719572_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

#container {
    width: 960px;
    margin: 0 auto;

}
    #container h1 {
        text-align: center;
        font-size: 100px;
        color: mediumpurple;
        border: groove 5px purple;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
#head2 {
        color: mediumpurple;
        font-size: 20px;
        padding-bottom: 10px;
        background-color: none;
        -webkit-box-shadow: 1px 1px 56px 1px #7A91FF;
        box-shadow: 1px 1px 56px 1px #7A91FF;
        height:15px;
        width:80px;
    }
#facebook {

    width: 50px;
    height: 50px;
}
    #facebook:hover {
        opacity: 0.7;
    }
#social h3{
    background-color: purple;
    color:white;
    font-weight: bold;
    width:160px;
}
.info span {
    color: mediumslateblue;
    font-weight: bolder;
    font-size: 20px;

}
#head {
    color: mediumpurple;
    font-size: 20px;
    padding-bottom: 10px;
    background-color: none;
    -webkit-box-shadow: 1px 1px 56px 1px #7A91FF;
    box-shadow: 1px 1px 56px 1px #7A91FF;
    height: 15px;
    width:130px;
    margin-bottom:30px;

}
.info {
    background-color: none;
    padding: 30px;
    text-align: right;
    font-size: 18px;
    padding-bottom:40px;
    padding-right:0px;
}
.picnya {
    float:left
}

.hobby ul {
    list-style-image: url('../images/640177_go_512x512.png');
    padding-bottom: 50px;
    margin-bottom: 50px;

}
    .hobby ul li {
        margin: 23px -1px -15px 6px;

    }
#social h3 {
    width: 150px;
    height: 20px;
    animation: pulse 2s infinite;

}
@keyframes pulse {
    0% {
        background-color: darkviolet;
    }

    100% {
        background-color: plum;
    }
}
